services:
  - type: web
    name: blocktrust-backend
    env: python
    # rootDir removido para build na raiz
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app --bind 0.0.0.0:$PORT
    autoDeploy: true

  - type: worker
    name: blocktrust-listener
    env: python
    # rootDir removido para build na raiz
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python listener.py
    autoDeploy: true

  - type: worker
    name: blocktrust-monitor
    env: python
    # rootDir removido para build na raiz
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python monitor.py
    autoDeploy: true
