services:
  - type: web
    name: blocktrust-backend
    env: python
    pythonVersion: 3.10.13
    rootDir: backend
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app --bind 0.0.0.0:$PORT
    autoDeploy: true

  - type: worker
    name: blocktrust-listener
    env: python
    pythonVersion: 3.10.13
    rootDir: backend
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python listener.py
    autoDeploy: true

  - type: worker
    name: blocktrust-monitor
    env: python
    pythonVersion: 3.10.13
    rootDir: backend
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python monitor.py
    autoDeploy: true
